<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuan.erp.dao.GoodtypeMapper" >
  <resultMap id="BaseResultMap" type="com.yuan.erp.entity.Goodtype" >
    <constructor >
      <idArg column="goodtype_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="goodtype_name" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    goodtype_id, goodtype_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_goodtype
    where goodtype_id = #{goodtypeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_goodtype
    where goodtype_id = #{goodtypeId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yuan.erp.entity.Goodtype" >
    insert into t_goodtype (goodtype_id, goodtype_name)
    values (#{goodtypeId,jdbcType=VARCHAR}, #{goodtypeName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yuan.erp.entity.Goodtype" >
    insert into t_goodtype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodtypeId != null" >
        goodtype_id,
      </if>
      <if test="goodtypeName != null" >
        goodtype_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodtypeId != null" >
        #{goodtypeId,jdbcType=VARCHAR},
      </if>
      <if test="goodtypeName != null" >
        #{goodtypeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yuan.erp.entity.Goodtype" >
    update t_goodtype
    <set >
      <if test="goodtypeName != null" >
        goodtype_name = #{goodtypeName,jdbcType=VARCHAR},
      </if>
    </set>
    where goodtype_id = #{goodtypeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yuan.erp.entity.Goodtype" >
    update t_goodtype
    set goodtype_name = #{goodtypeName,jdbcType=VARCHAR}
    where goodtype_id = #{goodtypeId,jdbcType=VARCHAR}
  </update>
</mapper>